@import "tailwindcss";

:root {
  --dark: #111;
  --dark-alternate: #1b1918;
  --primary: #ff5f3f;
  --primary-light: #f4ebeb;
}

@layer base {
  body {
    background-color: var(--primary-light);
    color: var(--dark-alternate);
    font-family: var(--font-poppins);
  }
  @layer base {
  html, body {
    overflow-x: hidden;
    position: relative; /* Menambah kepastian untuk elemen absolute di dalamnya */
    width: 100%;
  }
}
}
